body {
  background-color:black;
  margin:0;
  padding:0;
}
h1 {
  font-family: fantasy;
  font-size: 34px;
  color:white;
  text-align: center;
}
.new-game .onebutton {
  font-size: 34px;
  color: #ff32aa;
  text-align: center;
  margin-left:600px;
  margin-top:40px;
}
.line {
  width:500px;
}
.item {
  background-color: green;
  width:100px;
  height:100px;
  box-sizing: border-box;
  border:2px solid white;
  float:left;
}
.feild {
  width:500px;
  height:500px;
  border:4px solid black;
  margin:0 auto;
  background-color: black;

}
